body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
  text-decoration: none;
}
.nav-bar{
    background: #808080;
}
.menu{
    padding: 50px 150px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.main-header{
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding:0;
    text-align:center;
    margin: 0px 150px;
    color:white;
    box-sizing: border-box;
}
.custom-padding{
    padding-top: 15px;
}
a{
    text-decoration:none;
}
.l1{
    margin: 0px 10px;
    padding:10px;
    text-align:center;
    color: white;
    list-style: none;
    font-size: 16px;


}
.l2{
    width: 8vw;
    margin: 0px 10px;
    padding:10px;
    text-align:center;
    color:white;
    list-style: none;
    font-size: 16px;
    
}
.l3{
    padding:10px;
    margin: 0px 10px;
    text-align:center;
    color:white;
    list-style: none;
    font-size: 16px;
    
}
.l4{
    padding:10px;
    margin: 0px 10px;
    text-align:center;
    color:white;
    list-style: none;
    font-size: 16px;   
}
.l5{
    width: 8vw;
    padding:10px;
    margin: 0px 15px;
    text-align:center;
    color:#FF8C00;
    list-style: none;
    font-size: 16px;   
}
.l1:hover{
    color: yellow;
    border-bottom: 2px solid white;
}
.l2:hover{
    color: yellow;
    border-bottom: 2px solid white;
}
.l3:hover{
    color: yellow;
    border-bottom: 2px solid white;
}
.l4:hover{
    color: yellow;
    border-bottom: 2px solid white;
}

.contact-img{
    height: 50vh;
    width: 100%;
    background-image: url('../img/ins.jpg');
    background-size: cover;
    background-position: center;
}
.contact{
    margin: 0 80px;
    font-size: 50px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

.container{
    color: black;
    height: 120vh;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.nm{
    padding-left: 250px;
    height: 20vh;
    font-family: Verdana;
    line-height: 5px;
}
.hone{
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 30px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}
.yeaahy {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.pc{
    width: 40vw;
    height: 50vh;
    background-image: url('../img/restau.jpg');
    background-size: cover;
}
.p1{
    font-size: 30px;
}
.nm p {
    line-height: normal;
}
.nm h1{
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 45px;
}
.spp{
    padding-left: 250px;
    margin-left: 180px;
    height: 60vh;
    background-image: url('../img/res.jpg');
    background-position: center;
    background-size: cover;
}
.p2{
    font-size: 20px;
    font-family:Varela Round;
}
.stt p {
    font-size: 20px;
    font-family:Varela Round;
    margin-left: 20px;
    margin-right: 90px;
}
.mapouter{
   padding-left: 100px;
    margin-left: 10px;
  position:relative;
  text-align:right;
  height:414px;
  width:605px;
}
.gmap_canvas {
  overflow:hidden;
  background:none;
  height:414px;
  width:605px;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;

  height: 35vh;
  background: black;
}
.btn{
  padding: 10px;
  text-align:center;
  color:#000;
  font-size:20px;
  text-transform: uppercase;
  margin: 40px 60px;
  height: 4vh;
  width:12vw;
  border:2px solid #D3D3D3;
}
.btn:hover{
  padding: 10px;
  color: #FF8C00;
  text-align:center;
  font-size:20px;
  text-transform: uppercase;
  margin: 40px 60px;
  height: 4vh;
  width:12vw;
  border:2px solid #FF8C00;
}
.btn a{
  color: #D3D3D3;
}
.c-footer{
  color: #D3D3D3;
}
.a-footer{
  margin-top: 20px;
}